<?xml version="1.0" encoding="utf-8"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  
  
  <Template>Normal</Template>
  
  
  <Pages>30</Pages>
  
  
  <Words>5464</Words>
  
  
  <Characters>6814</Characters>
  
  
  <Lines>8</Lines>
  
  
  <Paragraphs>2</Paragraphs>
  
  
  <TotalTime>18</TotalTime>
  
  
  <ScaleCrop>false</ScaleCrop>
  
  
  <LinksUpToDate>false</LinksUpToDate>
  
  
  <CharactersWithSpaces>6844</CharactersWithSpaces>
  
  
  <Application>WPS Office_12.1.0.26895_F1E327BC-269C-435d-A152-05C5408002CA</Application>
  
  
  <DocSecurity>0</DocSecurity>
  

</Properties>
